## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
cleaned_df=application_df.drop(columns=['EIN', 'NAME'])
cleaned_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
for column in cleaned_df:
    print(column, len(cleaned_df[column].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_counts= cleaned_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#want 10 application_types_to_replace
application_types_to_replace=list(application_counts[application_counts<100].index)
application_types_to_replace

['T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17']

In [6]:
# Replace in dataframe
for app in application_types_to_replace:
    cleaned_df['APPLICATION_TYPE'] = cleaned_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
cleaned_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts= cleaned_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1580        1
C2500        1
C2561        1
C1245        1
C1900        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count= cleaned_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1267        2
C1256        2
C3200        2
C1234        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace=list(classification_counts[classification_counts<800].index)
classifications_to_replace

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1237',
 'C1235',
 'C7210',
 'C2400',
 'C4100',
 'C1720',
 'C1600',
 'C1257',
 'C2710',
 'C0',
 'C1260',
 'C1267',
 'C1256',
 'C3200',
 'C1234',
 'C1246',
 'C1728',
 'C2190',
 'C2150',
 'C6100',
 'C8210',
 'C4120',
 'C4500',
 'C1248',
 'C3700',
 'C1370',
 'C2380',
 'C1236',
 'C1820',
 'C1570',
 'C2600',
 'C1283',
 'C5200',
 'C2570',
 'C1732',
 'C2170',
 'C4200',
 'C1580',
 'C2500',
 'C2561',
 'C1245',
 'C1900']

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    cleaned_df['CLASSIFICATION'] = cleaned_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
cleaned_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
# referenced supervised machine learning
cleaned_df= pd.get_dummies(cleaned_df, dtype=float)
cleaned_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays 
#referencing 21/2/07-detecting diabetes
y = cleaned_df['IS_SUCCESSFUL'].values
X = cleaned_df.drop(columns="IS_SUCCESSFUL").values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()
nn_model.add(tf.keras.layers.Dense(units=2, activation="relu", input_dim=44))
nn_model.add(tf.keras.layers.Dense(units=3, activation="relu"))
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# First hidden layer
#  YOUR CODE GOES HERE

# Second hidden layer
#  YOUR CODE GOES HERE

# Output layer
#  YOUR CODE GOES HERE

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 2)                 90

 dense_1 (Dense)             (None, 3)                 9

 dense_2 (Dense)             (None, 1)                 4

=================================================================
Total params: 103
Trainable params: 103
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 690us/step - loss: 0.6474 - accuracy: 0.6146
Epoch 2/100
804/804 [==============================] - 1s 699us/step - loss: 0.6002 - accuracy: 0.6959
Epoch 3/100
804/804 [==============================] - 1s 708us/step - loss: 0.5896 - accuracy: 0.6979
Epoch 4/100
804/804 [==============================] - 1s 677us/step - loss: 0.5877 - accuracy: 0.6996
Epoch 5/100
804/804 [==============================] - 1s 669us/step - loss: 0.5869 - accuracy: 0.7001
Epoch 6/100
804/804 [==============================] - 1s 698us/step - loss: 0.5843 - accuracy: 0.7000
Epoch 7/100
804/804 [==============================] - 1s 681us/step - loss: 0.5763 - accuracy: 0.7042
Epoch 8/100
804/804 [==============================] - 1s 705us/step - loss: 0.5751 - accuracy: 0.7041
Epoch 9/100
804/804 [==============================] - 1s 688us/step - loss: 0.5747 - accuracy: 0.7023
Epoch 10/100
804/804 [==============================] - 1s 690us/step - loss: 0.5745 - accuracy: 0.7030
Epoch 11/100
804/804 [==============================] - 1s 694us/step - loss: 0.5744 - accuracy: 0.7036
Epoch 12/100
804/804 [==============================] - 1s 698us/step - loss: 0.5740 - accuracy: 0.7032
Epoch 13/100
804/804 [==============================] - 1s 686us/step - loss: 0.5740 - accuracy: 0.7040
Epoch 14/100
804/804 [==============================] - 1s 684us/step - loss: 0.5739 - accuracy: 0.7039
Epoch 15/100
804/804 [==============================] - 1s 679us/step - loss: 0.5737 - accuracy: 0.7034
Epoch 16/100
804/804 [==============================] - 1s 709us/step - loss: 0.5737 - accuracy: 0.7037
Epoch 17/100
804/804 [==============================] - 1s 750us/step - loss: 0.5736 - accuracy: 0.7037
Epoch 18/100
804/804 [==============================] - 1s 676us/step - loss: 0.5738 - accuracy: 0.7036
Epoch 19/100
804/804 [==============================] - 1s 714us/step - loss: 0.5736 - accuracy: 0.7041
Epoch 20/100
804/804 [==============================] - 1s 713us/step - loss: 0.5737 - accuracy: 0.7041
Epoch 21/100
804/804 [==============================] - 1s 731us/step - loss: 0.5737 - accuracy: 0.7040
Epoch 22/100
804/804 [==============================] - 1s 716us/step - loss: 0.5736 - accuracy: 0.7039
Epoch 23/100
804/804 [==============================] - 1s 719us/step - loss: 0.5737 - accuracy: 0.7042
Epoch 24/100
804/804 [==============================] - 1s 686us/step - loss: 0.5736 - accuracy: 0.7044
Epoch 25/100
804/804 [==============================] - 1s 709us/step - loss: 0.5736 - accuracy: 0.7043
Epoch 26/100
804/804 [==============================] - 1s 726us/step - loss: 0.5736 - accuracy: 0.7045
Epoch 27/100
804/804 [==============================] - 1s 740us/step - loss: 0.5735 - accuracy: 0.7045
Epoch 28/100
804/804 [==============================] - 1s 715us/step - loss: 0.5735 - accuracy: 0.7042
Epoch 29/100
804/804 [==============================] - 1s 716us/step - loss: 0.5735 - accuracy: 0.7041
Epoch 30/100
804/804 [==============================] - 1s 743us/step - loss: 0.5736 - accuracy: 0.7044
Epoch 31/100
804/804 [==============================] - 1s 689us/step - loss: 0.5735 - accuracy: 0.7043
Epoch 32/100
804/804 [==============================] - 1s 764us/step - loss: 0.5734 - accuracy: 0.7046
Epoch 33/100
804/804 [==============================] - 1s 751us/step - loss: 0.5735 - accuracy: 0.7041
Epoch 34/100
804/804 [==============================] - 1s 789us/step - loss: 0.5734 - accuracy: 0.7045
Epoch 35/100
804/804 [==============================] - 1s 738us/step - loss: 0.5735 - accuracy: 0.7047
Epoch 36/100
804/804 [==============================] - 1s 727us/step - loss: 0.5735 - accuracy: 0.7039
Epoch 37/100
804/804 [==============================] - 1s 749us/step - loss: 0.5733 - accuracy: 0.7048
Epoch 38/100
804/804 [==============================] - 1s 736us/step - loss: 0.5734 - accuracy: 0.7039
Epoch 39/100
804/804 [==============================] - 1s 763us/step - loss: 0.5733 - accuracy: 0.7046
Epoch 40/100
804/804 [==============================] - 1s 712us/step - loss: 0.5733 - accuracy: 0.7044
Epoch 41/100
804/804 [==============================] - 1s 726us/step - loss: 0.5733 - accuracy: 0.7047
Epoch 42/100
804/804 [==============================] - 1s 755us/step - loss: 0.5734 - accuracy: 0.7038
Epoch 43/100
804/804 [==============================] - 1s 744us/step - loss: 0.5733 - accuracy: 0.7044
Epoch 44/100
804/804 [==============================] - 1s 749us/step - loss: 0.5733 - accuracy: 0.7038
Epoch 45/100
804/804 [==============================] - 1s 784us/step - loss: 0.5730 - accuracy: 0.7039
Epoch 46/100
804/804 [==============================] - 1s 692us/step - loss: 0.5733 - accuracy: 0.7043
Epoch 47/100
804/804 [==============================] - 1s 765us/step - loss: 0.5733 - accuracy: 0.7038
Epoch 48/100
804/804 [==============================] - 1s 740us/step - loss: 0.5733 - accuracy: 0.7046
Epoch 49/100
804/804 [==============================] - 1s 741us/step - loss: 0.5733 - accuracy: 0.7041
Epoch 50/100
804/804 [==============================] - 1s 711us/step - loss: 0.5732 - accuracy: 0.7038
Epoch 51/100
804/804 [==============================] - 1s 736us/step - loss: 0.5732 - accuracy: 0.7040
Epoch 52/100
804/804 [==============================] - 1s 852us/step - loss: 0.5734 - accuracy: 0.7039
Epoch 53/100
804/804 [==============================] - 1s 811us/step - loss: 0.5731 - accuracy: 0.7041
Epoch 54/100
804/804 [==============================] - 1s 758us/step - loss: 0.5732 - accuracy: 0.7041
Epoch 55/100
804/804 [==============================] - 1s 782us/step - loss: 0.5730 - accuracy: 0.7044
Epoch 56/100
804/804 [==============================] - 1s 753us/step - loss: 0.5732 - accuracy: 0.7046
Epoch 57/100
804/804 [==============================] - 1s 849us/step - loss: 0.5729 - accuracy: 0.7044
Epoch 58/100
804/804 [==============================] - 1s 799us/step - loss: 0.5732 - accuracy: 0.7044
Epoch 59/100
804/804 [==============================] - 1s 785us/step - loss: 0.5730 - accuracy: 0.7039
Epoch 60/100
804/804 [==============================] - 1s 785us/step - loss: 0.5731 - accuracy: 0.7038
Epoch 61/100
804/804 [==============================] - 1s 823us/step - loss: 0.5730 - accuracy: 0.7045
Epoch 62/100
804/804 [==============================] - 1s 915us/step - loss: 0.5730 - accuracy: 0.7039
Epoch 63/100
804/804 [==============================] - 1s 909us/step - loss: 0.5731 - accuracy: 0.7041
Epoch 64/100
804/804 [==============================] - 1s 943us/step - loss: 0.5730 - accuracy: 0.7044
Epoch 65/100
804/804 [==============================] - 1s 997us/step - loss: 0.5730 - accuracy: 0.7041
Epoch 66/100
804/804 [==============================] - 1s 878us/step - loss: 0.5729 - accuracy: 0.7041
Epoch 67/100
804/804 [==============================] - 1s 872us/step - loss: 0.5728 - accuracy: 0.7036
Epoch 68/100
804/804 [==============================] - 1s 858us/step - loss: 0.5730 - accuracy: 0.7037
Epoch 69/100
804/804 [==============================] - 1s 906us/step - loss: 0.5730 - accuracy: 0.7034
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5728 - accuracy: 0.7041
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5730 - accuracy: 0.7035
Epoch 72/100
804/804 [==============================] - 1s 898us/step - loss: 0.5729 - accuracy: 0.7035
Epoch 73/100
804/804 [==============================] - 1s 869us/step - loss: 0.5729 - accuracy: 0.7041
Epoch 74/100
804/804 [==============================] - 1s 917us/step - loss: 0.5729 - accuracy: 0.7035
Epoch 75/100
804/804 [==============================] - 1s 851us/step - loss: 0.5729 - accuracy: 0.7033
Epoch 76/100
804/804 [==============================] - 1s 859us/step - loss: 0.5730 - accuracy: 0.7031
Epoch 77/100
804/804 [==============================] - 1s 906us/step - loss: 0.5729 - accuracy: 0.7040
Epoch 78/100
804/804 [==============================] - 1s 904us/step - loss: 0.5729 - accuracy: 0.7040
Epoch 79/100
804/804 [==============================] - 1s 896us/step - loss: 0.5729 - accuracy: 0.7034
Epoch 80/100
804/804 [==============================] - 1s 906us/step - loss: 0.5728 - accuracy: 0.7041
Epoch 81/100
804/804 [==============================] - 1s 934us/step - loss: 0.5728 - accuracy: 0.7035
Epoch 82/100
804/804 [==============================] - 1s 875us/step - loss: 0.5728 - accuracy: 0.7035
Epoch 83/100
804/804 [==============================] - 1s 931us/step - loss: 0.5727 - accuracy: 0.7035
Epoch 84/100
804/804 [==============================] - 1s 953us/step - loss: 0.5728 - accuracy: 0.7038
Epoch 85/100
804/804 [==============================] - 1s 889us/step - loss: 0.5727 - accuracy: 0.7037
Epoch 86/100
804/804 [==============================] - 1s 875us/step - loss: 0.5729 - accuracy: 0.7032
Epoch 87/100
804/804 [==============================] - 1s 902us/step - loss: 0.5728 - accuracy: 0.7033
Epoch 88/100
804/804 [==============================] - 1s 774us/step - loss: 0.5728 - accuracy: 0.7030
Epoch 89/100
804/804 [==============================] - 1s 812us/step - loss: 0.5728 - accuracy: 0.7036
Epoch 90/100
804/804 [==============================] - 1s 877us/step - loss: 0.5729 - accuracy: 0.7032
Epoch 91/100
804/804 [==============================] - 1s 801us/step - loss: 0.5728 - accuracy: 0.7037
Epoch 92/100
804/804 [==============================] - 1s 802us/step - loss: 0.5727 - accuracy: 0.7034
Epoch 93/100
804/804 [==============================] - 1s 867us/step - loss: 0.5728 - accuracy: 0.7035
Epoch 94/100
804/804 [==============================] - 1s 846us/step - loss: 0.5726 - accuracy: 0.7034
Epoch 95/100
804/804 [==============================] - 1s 969us/step - loss: 0.5727 - accuracy: 0.7033
Epoch 96/100
804/804 [==============================] - 1s 900us/step - loss: 0.5728 - accuracy: 0.7034
Epoch 97/100
804/804 [==============================] - 1s 994us/step - loss: 0.5727 - accuracy: 0.7030
Epoch 98/100
804/804 [==============================] - 1s 878us/step - loss: 0.5727 - accuracy: 0.7030
Epoch 99/100
804/804 [==============================] - 1s 877us/step - loss: 0.5728 - accuracy: 0.7034
Epoch 100/100
804/804 [==============================] - 1s 913us/step - loss: 0.5727 - accuracy: 0.7029

In [17]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5812 - accuracy: 0.6971 - 271ms/epoch - 1ms/step
Loss: 0.5812427997589111, Accuracy: 0.6971428394317627

In [18]:
# Export our model to HDF5 file
# save model
import h5py

In [19]:
nn_model.save("AlphabetSoupCharity_Optimization.h5")